{% extends 'base.html' %}

{% block head %}
  <title>Update Contact</title>
{% endblock %}

{% block body %}
  <form class="contact-form" action="/update_contact/{{ contact.id }}" method="POST">
    <h3 class="title">Update Contact</h3>
    <hr>
    <p><input class="input-box" type="text" name="name" id="name" value="{{ contact.name }}"></p>
    <p><input class="input-box" type="text" name="email" id="email" value="{{ contact.email }}"></p>
    <p><input class="input-box" type="text" name="number" id="number" value="{{ contact.number }}"></p>
    <p><input class="input-box" type="text" name="image" id="image" value="{{ contact.image }}"></p>
    <p><button type="submit" id="submit">Update Contact</p>
  </form>
  </div>
{% endblock %}