<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Contacts Page, My Contacts, Flask Demo, TMD Studios">
    <meta name="description" content="This is a simple website to hold a basic smart contract">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <ul class="navbar">
        <li class="nav_item"><a class="nav_link" href="/">Home</a></li>
        <li class="nav_item"><a class="nav_link" href="/bookmarks/">Bookmarks</a></li>
        <li class="nav_item"><a class="nav_link" href="/contacts/">Contacts</a></li>
        <li class="nav_item"><a class="nav_link" href="/login/">Log In</a></li>
        <li class="nav_item"><a class="nav_link" href="/logout/">Log Out</a></li>
    </ul>
    {% block body %}
    {% endblock %}
</body>
</html>